* {
    box-sizing:border-box;
}

body {
    position: relative;
    background-color: #C7CCC2;
}

nav {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-right: 2em;
    top: 0;
    width: auto;
    height: 60px;
    background-color: #E2E6DF;
    font-size: 20px;
}

a[class*="nav_a"] {
    padding: 20px;
    color: #706C70;
    font-weight: bold;
}

a:hover {
    color: #5F853F;
}

.heading-one {
    text-align: center;
}

.foto_skills {
    display: flex;
    padding: 20px;
    text-align: left;
    background-color: #E2E6DF;
}

.skills {
    width: 50%;
    padding: 20px;
    text-align: left;
    margin-left: 250px;
}

.heading-one,
.heading-two {
    color: #5F853F;
}

span {
    font-weight: bold;
    font-style: italic;
}

.heading-two::first-letter {
    border-bottom: 10px; solid;
    color: #5F853F;
}

.spisok { 
    list-style-type: none;
}

.spisok::before {
    content: "\2055";
    padding-right: 0.5em;
}

.contacts {
    color: #706C70;
    font-weight: bold;
    text-decoration: none;
}

.contacts:hover {
    color: #5F853F;
}

.date {
    font-size: 14px;
    text-align: center;
}